{extend Page}
{css HomePage}

<section class="homepage__intro">
    <h1 class="homepage__name words-fade-in">MVC Framework</h1>
    <h2 class="homepage__title words-fade-in">Component based MVC framework</h2>
    <div class="homepage__about words-fade-in">
        This framework is designed to group code into small components with their own MVC structure
    </div>
    
</section>