.footer__inner {
    max-width: 1200px;
    margin-top: 2em;
    padding: 3em 2.5em 2em 2.5em;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer-links__list {
    display: flex;
}

.footer-links__item {
    margin: 0 1em 0 0;
}

.footer-links__link,
.footer-links__link:visited {
    text-decoration: none;
    color: #fc7676;
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
}

.footer-links__link:hover {
    opacity: .6;
}