.header__inner {
    padding: 2em 2.5em;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: flex-end; */
}

.navbar__item {
    margin-right: 1em;
}

.navbar__link,
.navbar__link:visited {
    text-decoration: none;
    color: #fc7676;
    position: relative;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar__link::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #fc7676;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.navbar__link:hover::after,
.navbar__link--current::after {
    width: 100%;
}