{css Header}

<header class="header">
    <div class="header__inner">
        <ul class="navbar__list">
            <li class="navbar__item"><a href="/" class="navbar__link{if $CurrentLink == '/'} navbar__link--current{/if}">Home</a></li>
            <li class="navbar__item"><a href="about" class="navbar__link{if $CurrentLink == 'about'} navbar__link--current{/if}">Projects</a></li>
        </ul>
    </div>
</header>