{css Footer}

<footer class="footer">
    <div class="footer__inner">
        <ul class="footer-links__list">
            <li class="footer-links__item"><a href="#" target="_blank" class="footer-links__link">Link</a></li>
            <li class="footer-links__item"><a href="#" class="footer-links__link">Link</a></li>
            <li class="footer-links__item"><a href="#" target="_blank" class="footer-links__link">Link</a></li>
        </ul>
    </div>
</footer>