.main {
    max-width: 1200px;
    padding: 0 2.5em;
    margin: 0 auto;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 400;
}


.words-fade-in {
    opacity: 0;
}


.words-fade-in.visible {
    opacity: 1;
}

.words-fade-in span {
    opacity: 0;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}

.words-fade-in span.visible {
    opacity: 1;
}
